<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weight</key>
	<integer>150</integer>
	<key>newWorkoutWasCreated</key>
	<false/>
	<key>Units</key>
	<string>Imperial</string>
	<key>typeOfWorkout</key>
	<string>Distance</string>
	<key>workoutGoal</key>
	<integer>5</integer>
</dict>
</plist>
